DATABASE_URL=sqlite:////app/data/gestaodecomunicados.db
ALLOWED_ORIGINS=["http://localhost:3000","http://localhost"]

AWS_S3_ENABLED=true
AWS_S3_BUCKET=
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_PUBLIC_BASE_URL=
